<div class="window default-window">
	<div class="row">
		<div class="btn-group pull-right">
               <button type="button" class="btn-pin btn-window-action btn btn-link">
               	<span class="glyphicon glyphicon-pushpin"></span>
               </button>
               <button type="button" class="btn-draggable btn-window-action btn btn-link">
               	<span class="glyphicon glyphicon-hand-up"></span>
               </button>
               <button type="button" class="btn-close btn-window-action btn btn-link">
                    <span class="glyphicon glyphicon-plus"></span>
               </button>
               <button type="button" class="btn-close btn-window-action btn btn-link">
                    <span class="glyphicon glyphicon-minus"></span>
               </button>
               <button type="button" class="btn-close btn-window-action btn btn-link">
               	<span class="glyphicon glyphicon-remove-circle"></span>
               </button>
        </div>
	</div>
	<div class="window-content resizable-content">
	</div>
	<hr />
</div>
