
<div class="workspace-selector-modal modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

      	<div class="ws-row ws-r1 row">

      		<div class="top-left-ws">
            <div class='ws-inner-elt'></div>
            
          </div>

      		<div class="top-right-ws">
            <div class='ws-inner-elt'></div>
          </div>

      	</div>

      	<div class="ws-row ws-r2 row">

      		<div class="bottom-left-ws">
            <div class='ws-inner-elt'></div>
          </div>

      		<div class="bottom-right-ws">
            <div class='ws-inner-elt'></div>
          </div>

      	</div>
        <div class='ws-selected-elt' />
      </div>
    </div>
  </div>
</div>