<div class="launcher-main">
	<span><h5>Applications</h5></span>
	<hr />
	<div class='launcher-list'>

	</div>
	<span><h5>Workspaces</h5></span>
	<hr />
	<div class='workspace-list'>

	</div>
	<span><h5>Colorschemes</h5></span>
	<hr />
	<div class='colorschemes-list'>

	</div>
	<hr />
	<div class='btn-save-workspace-container'>
		<button class='btn btn-default btn-save-workspace'>Save</button>
	</div>
</div>


