<div class="btn-group launcher-group">
	<button 
		class='btn btn-default btn-launcher <%= factoryKey %> dropdown-toggle' 
		data-toggle="dropdown">
		<%= display %>
		<span class="caret pull-right"></span>
	</button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>	
</div>

