.control-listbox-element {
    height: 165px;
    background-color: #505050;
    padding: 1px 0 1px 0;
    overflow: hidden;
    position: relative;
    border: 1px solid #505050;
    border-radius: 4px;
}

.control-listbox-container {
    padding-left: 0px;
}

.control-listbox-container .base {
    list-style: none;
    padding: 3px 10px 3px 10px;
    margin: 2px;
    background-color: #222222;
    border-radius: 4px;
    cursor: pointer;
}

.control-listbox-container .base.hover {
    color: #ffffff;
    background-color: #3498db;
    border-color: #3498db;
}

.control-listbox-container .base.selected {
    color: #ffffff;
    background-color: #f39c12;
    border-color: #f39c12;
}